<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: "Login"})  %>
<body>
<%- include('./partials/header.ejs')  %>
    <main class="login-main-body">
        <form action="/" class="login-form" method="get">
            <div class="login-data">
                <label class="label-description" for="user-name">Nombre de usuario</label>
                <input type="text" name="user" id="user-name">
            </div>
            <div class="login-data">
                <label class="label-description" for="user-name">Contraseña</label>
                <input type="password" name="password" id="user-name">
            </div>
            <div class="button-login-form">
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </main>
</body>
</html>